body{
    font-family: Open Sans,open-sans,sans-serif;    
}

.font-opensans{
    font-family: Open Sans,open-sans,sans-serif;
}

header{
    text-align: center;
}

.NoRecords{
    color:#ff0000;
}

.violet{
    color:#9400D3
}
.indigo{
    color:#4B0082
}
.blue{
    color:#0000FF
}
.green{
    color:#00FF00
}
.yellow{
    color:#FFFF00
}
.orange{
    color:#FF7F00
}
.red{
    color:#FF0000
}
.teel{
    color: #008080;
}
.card-text{
    text-align: left;
}
.mrnd-navbar{
    background-color: white;
    height: auto;
    z-index: 10;
    border-bottom: 1px solid lightgrey;
}

.mrnd-navbar-inner{
    padding-top: 20px;
    padding-bottom: 2px;
}

.mrnd-logo{
    margin-bottom: 10px;
    background-image: url('../images/vzg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 70px;
}

.school-name{
    color: #8B0000;
    font-weight: 1000;
    padding-top: 10px;
}


.mrnd-navbar-menu{
    text-align: right;
}

.mrnd-navbar-menu-item{
    padding-left: 70px;
    color: #212121;
    font-family: inherit;
    display: inline-block;
    margin-top: 18px;
    text-align: center;
    cursor: pointer;
}

.mrnd-navbar-menu-item:hover{
    color: gold;
}


.mrnd-hamburger-collapsed-menu{
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    background-color: gold;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*.mrnd-navbar-pos{
    position: relative;
}*/

.mrnd-navbar-mobile-menu{
    display: none;
    text-align: right;
}

@media (max-width: 900px){
    .mrnd-navbar-menu{
        display: none;
    }
    
    .mrnd-navbar-mobile-menu{
        display: block !important;
    }
}

.mrnd-hamburger-collapsed-menu>div{
    color: white;
    cursor: pointer;
    padding-top: 25px;
    text-align: center;
}


.mrnd-hamburger-collapsed-menu>div:hover{
    color: #212121;
}


.mrnd-vr-sm-space{
    margin-top: 50px;
    margin-bottom: 50px;
}


#mrnd-hamburger{
    outline-color: transparent;
}


label{
    font-family: inherit;
}


.right-division{
    background-color: white;
    height:100%;
    position: absolute;
    width: 30%;
    right: 0;
    min-width: 400px;
}

.left-division{
    background-color: gold;
    height: 600px;
    position: absolute;
    width: 60%;
    left: 0;
}


.signin-form-container>input{
    width: 100%;
    margin-top: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid #212121;
}

.signin-form-container>input:focus{
    border: 1px solid black;
    outline-color: transparent;
}


.mrnd-rect-black-button{
    border: 2px solid #212121;
    background-color: transparent;
    padding: 5px 18px;
    margin-top: 20px;
}

.mrnd-rect-black-button:hover{
    border: 2px solid gold;
    background-color: gold;
    color: white;
    
}


.mrnd-rect-black-button:focus{
    outline-color: transparent;
    
}

.mrnd-rect-black-button:disabled{
    opacity: 0.65; 
    cursor: not-allowed;
}


.mrnd-navbar-logged-user{
    text-align: right;
    padding-top: 18px;
    display: inline-flex;
    justify-content: center;
    padding-right: 15px;
    position: relative;
    top: -7px;
}


.left-menu{
    float: left;
    left: 0;
    height: 880px;
    width: 17%;
    border-right: 1px solid lightgrey;
    background-color: white;
}


.dashboard-menu{
    background-color: whitesmoke;
    height: 89%;
    width: 100%;
    position: absolute;
}


.right-menu{
    float: right;
    right: 0;
    height: 880px;
    width: 17%;
    border-right: 1px solid lightgrey;
    background-color: gold;
}
.right-menu-details{
    float: right;
    right: 0;
    height: 540px;
    width: 25%;
    border-right: 1px solid lightgrey;
    background-color: gold;
}

.left-menu-inner{
    
    padding-top: 45px;
}

.left-menu-item{
    color: darkgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    border-left: 10px solid transparent;
    cursor: pointer;
    width: 100%;
}



.left-menu-item:hover{
    color: #212121;
}

.left-menu-item.active{
    border-left: 10px solid gold;
    color: gold;
}


.center-menu{
    width: 64%;
    left: 17%;
    height: 100%;
    position: inherit;
}

.settings-button{
    background-image: url("../images/settings.png");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-flex;
    justify-content: center;
    padding-top: 15px;
    cursor: pointer;
    
}

.settings-button:hover{
    background-image: url("../images/settings_hover.png");
}

.settings-menu-triangle{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid lightgrey;
    width: 30px;
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-45%);
}

.settings-menu-container{
    position: absolute;
    width: 100%;
    min-height: 200px;
    background: transparent;
    z-index: 1;
    top: 35px;
    display: none;
    
}


.settings-button:hover .settings-menu-container{
    display: block !important;
}

.settings-menu{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 15px;
    z-index: 2;
    border: 1px solid lightgrey;
    padding: 10px;
}

.settings-menu-item{
    padding: 5px 15px;
}
.settings-menu-item:hover{
    color: gold;
}

.search-form{
    width:500px;
    margin:50px auto;
}


.round-button{
    display: inline-block;
    height: 100%;
    margin-left: 25px;
    background: white;
    border-radius: 25px;
    padding: 14px 22px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.salmon{
    background: salmon;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}

.salmon:hover{
    opacity: 0.5;
}

.skyblue{
    background: deepskyblue;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}

.skyblue:hover{
    background: lightskyblue;
}

.search-button{
    position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.search-button:hover  {
                background-color:#fafafa;
                color:#207cca;
}

th, td{
    padding: 10px;
}

th{
    font-size: 15px;
}

td[first-child]{
    padding-left: 15px;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

a { color:black } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:gold; }
a:focus { text-decoration: none; color:gold; }
a:hover, a:active { text-decoration: none; color:gold }

.bs-component{
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
}


        header.major h2 + p {
            color: #777;
            font-size: 1.75em;
            font-weight: 700;
            margin-top: -0.75em;
        }

        /* Header */

    #header {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        background: gold;
        color: #ffffff;
        height: 100%;
        overflow-y: auto;
        position: fixed;
        text-align: center;
        width: 23em;
        right: 0;
    }

    /* Section/Article */

    section.special, article.special {
        text-align: center;
    }

    header p {
        color: #aaa;
        position: relative;
        margin: 0 0 1.6875em 0;
    }

    header h2 + p {
        font-size: 1.25em;
        margin-top: -0.5em;
        line-height: 1.5em;
    }

    header h3 + p {
        font-size: 1.1em;
        margin-top: -0.35em;
        line-height: 1.5em;
    }

    header h4 + p,
    header h5 + p,
    header h6 + p {
        font-size: 0.9em;
        margin-top: -0.25em;
        line-height: 1.5em;
    }

    header.major h2 {
        color: #4acaa8;
        font-size: 3.5em;
    }

        header.major h2 + p {
            color: #777;
            font-size: 1.75em;
            font-weight: 700;
            margin-top: -0.75em;
        }

/* Main */

    #main > section {
        border-top: solid 2px gold;
    }

        #main > section > .container {
            padding: 6em 0 4em 0;
        }

        #main > section:first-child {
            border-top: 0;
        }