<div class="container-fluid mrnd-navbar">
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-10 mrnd-navbar-pos">
                <div class="mrnd-navbar-inner row">
                    <div class="col-md-1">
                        <div class="mrnd-logo" onclick="window.location='index.html'"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-9 col-sm-8 col-xs-6">
                          <div class="school-name"><h3> THE VIZAG INTERNATIONAL SCHOOL</h3></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1"></div>
        </div>